.width-100 {
  width: 100%;
}
.fadein1 {
  animation: fadein 3s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fadein2 {
  animation: fadein 4s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fadein3 {
  animation: fadein 6s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fadein4 {
  animation: fadein 8s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.color-gradient {
  background-image: linear-gradient(lightgrey, #effafd);
}
.color-gradient2 {
  background-image: linear-gradient(#effafd, lightgrey);
}
.color-gradient3 {
  background-image: linear-gradient(to left, #effafd, #e6e1e1);
}
.color-gradient5 {
  background-image: linear-gradient(to right, #effafd, #e6e1e1);
}
.color-gradient4 {
  background-image: linear-gradient(to bottom right, #effafd, lightgrey);
}
.color-gradient6 {
  background-image: linear-gradient(to left, #effafd, beige);
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.top-content {
  background-image: linear-gradient(lightgrey, #effafd);
  display: flex;
  justify-content: center;
  border-bottom: 2px solid black;
  padding: 15px 0;
  width: 100%;
  align-items: center;
}
.top-content .navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 65%;
  font-size: 2rem;
}
.top-content .nav-bar {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  width: 45%;
}
.top-content a {
  text-decoration: none;
  color: black;
  font-size: 1.25rem;
}
@media ( max-width: 500px) {
  .top-content {
    display: flex;
    align-items: center;
    width: 100%;
  }
  .top-content .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
  }
  .top-content .navigation .nav-bar {
    width: 80%;
    justify-content: space-between;
  }
  h1 {
    padding-bottom: 2%;
  }
}
footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-top: 2px solid black;
  padding-top: 15px;
  width: 100%;
  align-items: center;
  background-image: linear-gradient(#effafd, lightgrey);
  font-size: 1.25rem;
  margin-top: 3%;
}
footer a {
  text-decoration: none;
  color: black;
}
footer strong {
  font-weight: bold;
}
.bottom-content {
  line-height: 1.7;
}
.bottom-content p {
  line-height: 1;
}
@media ( max-width: 500px) {
  footer p {
    text-align: center;
    padding: 0.5%;
  }
}
.accordion {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid black;
  background-image: linear-gradient(#effafd, lightgrey);
  width: 100%;
}
.accordion .accordion-categories {
  display: flex;
}
.accordion .accordion-categories .accordion-title {
  color: black;
  font-size: 1rem;
  font-weight: bold;
  padding: 7.5px;
  margin: 5px;
}
.accordion .accordion-categories .tab {
  align-items: center;
  background-color: #effafd;
  color: black;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  padding: 7.5px;
  border: 2px solid black;
  margin: 5px;
}
.accordion .accordion-categories .active-tab {
  background-color: #a8a7a7;
  color: white;
  border: 2px solid purple;
}
@media ( max-width: 500px) {
  .accordion .accordion-categories .accordion-title {
    display: none;
  }
}
.main-content {
  background: beige;
  padding-top: 1%;
}
.category-container {
  display: flex;
  justify-content: space-evenly;
}
.first-post {
  display: flex;
  width: 95%;
  background-image: linear-gradient(to left, #effafd, #e6e1e1);
  border: 2px solid black;
  border-radius: 10px;
  font-size: 1.15rem;
  margin: auto;
  margin-bottom: 1%;
}
.first-post .title-post {
  width: 100%;
  text-align: center;
}
.first-post h1 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}
.first-post p {
  line-height: 1.5;
  font-size: 1.5rem;
}
.first-post .sales-pitch {
  margin: 1.5% 5%;
}
.last-post {
  display: flex;
  width: 95%;
  background-image: linear-gradient(to right, #effafd, #e6e1e1);
  border: 2px solid black;
  border-radius: 10px;
  font-size: 1.15rem;
  margin: auto;
  margin-bottom: 1%;
  justify-content: center;
}
.last-post .about-title-post a {
  margin: auto;
}
.last-post p {
  line-height: 1.5;
  font-size: 1.5rem;
}
@media ( max-width: 500px) {
  .last-post p {
    margin: 3%;
    font-size: 1.25rem;
  }
}
.posts {
  display: flex;
  width: 25%;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  font-size: 1.15rem;
  margin: 1% 0 2%;
  text-align: center;
  justify-content: center;
}
.posts h2 {
  font-size: 1.25rem;
  font-weight: bold;
  border-bottom: 1px solid silver;
  padding: 10px 0;
  text-align: center;
  background-color: #effafd;
  width: 100%;
  border-radius: 10px;
}
.posts .author {
  line-height: 1.5;
  text-align: center;
  background-color: #effafd;
  border-radius: 10px;
}
.posts .images {
  max-width: 100%;
  border-radius: 5px;
  padding: 1% 5%;
}
.posts .food {
  animation: fadein 3s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.posts .landscape {
  animation: fadein 3s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.posts .portrait {
  animation: fadein 3s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.posts .wildlife {
  animation: fadein 3s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.posts .creators {
  animation: fadein 3s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media ( max-width: 500px) {
  .first-post {
    width: 92.5%;
  }
  .first-post p {
    font-size: 1.25rem;
  }
}
@media ( max-width: 500px) {
  .category-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 90%;
    margin: auto;
  }
  .posts {
    width: 100%;
  }
}
.creator-container {
  display: flex;
  justify-content: space-evenly;
}
.creators {
  width: 100%;
}
.creators h3 {
  padding: 10px 0;
  font-weight: bold;
}
.creators p {
  padding-bottom: 10px;
  margin: 0 5%;
}
.creators li {
  padding-bottom: 15px;
}
.creators a {
  text-decoration: none;
  color: black;
}
@media ( max-width: 500px) {
  .creator-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 90%;
    margin: auto;
  }
  .creators {
    width: 100%;
  }
}
.about-title-post {
  width: 100%;
  text-align: center;
}
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  background-color: lightgray;
}
.container {
  width: 100%;
  background-color: beige;
}
@media ( max-width: 500px) {
  .boxie {
    display: none;
  }
}
.btn {
  background-color: lightgrey;
  margin: auto;
  cursor: pointer;
  width: 10%;
  padding: 10px 0;
  font-size: 1.75rem;
  border-radius: 10px;
  text-align: center;
  border: 2px solid black;
  text-decoration: none;
  margin-top: 1.5%;
  margin-bottom: 1%;
  display: flex;
  justify-content: center;
  color: black;
}
.btn:hover {
  color: lightgrey;
  background-image: linear-gradient(to left, #effafd, beige);
}
.btn-anchor {
  text-decoration: none;
}
@media ( max-width: 500px) {
  .btn {
    width: 70%;
    margin-bottom: 3%;
  }
}
