.accordion {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid black;
    background-color: lightgray;
    width: 100%;

    .accordion-categories {
        display: flex;

        .accordion-title {
            background-color: purple;
            color:black;
            font-size: 1rem;
            font-weight: bold;
            padding: 7.5px;
            // margin: 2.5px;
        }

        .tab {
            align-items: center;
            background-color: pink;
            color: blue;
            font-size: 1rem;
            font-weight: bold;
            cursor: pointer;
            padding: 7.5px;
            border: 1px solid black;
            // margin: 2.5px;
            // &:hover{

            // }
        }

        .active-tab {
            background-color: magenta;
            color: blue;
            border: 3px solid yellow;
        }
    }
}