// Footer content, contains a small thank you blurb, copyright and the github/email tags.

footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-top: 2px solid black;
    padding-top: 15px;
    width: 100%;
    align-items: center;
    // background-color: lightgrey;
    .color-gradient2();
    font-size: 1.25rem;
    margin-top: 3%;

    a {
        text-decoration: none;
        color: black;
    }

    strong {
        font-weight: bold;
    }
}

.bottom-content {
    line-height: 1.7;

    p {
        line-height: 1;
    }

}

// Mobile Responsiveness Styling

@media @mobile {
    footer p {
        text-align: center;
        padding: .5%;
    }
}