// Imports
@import './variables.less';
@import './mixins.less';
@import './reset.less';
@import './header.less';
@import './footer.less';
@import './accordion.less';
@import './posts.less';


// Universal Stylings
* {
    box-sizing: border-box;
}
  
html, body {
  margin: 0; 
  padding: 0;
  background-color: lightgray;
}

.container {
  width: 100%;
  background-color: beige;
}

@media @mobile{
  .boxie {
    display: none;
  }
}

// Button css is right here.
.btn {
  .my-button();
  display: flex;
  justify-content: center;
  color: black;
}

.btn-anchor{
  text-decoration: none;
}

@media @mobile {
  .btn {
    width: 70%;
    margin-bottom: 3%;
  }
}
// Import any components here.
