// Imports
@import './variables.less';
@import './mixins.less';
@import './reset.less';
@import './header.less';
@import './footer.less';
@import './posts.less';


// Universal Stylings
* {
    box-sizing: border-box;
  }
  
  html, body {
    margin: 0; 
    padding: 0;
  }

  .container {
    width: 100%;
  }
// Import any components here.
