// The posts are the main intended content. Similar to the applied javascript sprint challenge and how it used a variety of "cards" to display content.
// Can included JS components to toggle them on and off and collect the "like"-images, IE.. landscapes, portrait, food, etc. Like the accordion project.
// Not really sure how to click on a post and expand it like the Parallelism template reference, but will look into it.

.main-content {
    background: white;
}

.posts {
    .flex(center, center);
    .width-100();
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
}